*{
    margin: 0;
    padding: 0;
}

#navigation{
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navigation > ul{
    display: flex;
    margin-right: 50px;
}

#navigation > ul > li{
    list-style: none;
    margin: 0px 7px;
    padding: 15px 0px;
}

#navigation > ul > li > a{
    text-decoration: none;
    font-size: 18px;
}

.logo > h2{
    color: black;
    margin-left: 10px;
}